/* globals */
/* ========== */
.btn {
  background-color: #1f1f1f;
  color: #fff;
  padding: 5px 25px;
  border: none;
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.94;
}

/* navbar */
/* =========== */
.navbar {
  width: min(90%, 700px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navbar h1 {
  font-size: clamp(1.3rem, 2.5vw, 1.7rem);
  margin: 15px 0;
}

.nav-items {
  display: flex;
  align-items: baseline;
  gap: 25px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 1.1rem;
}

/* socialMedia links */
/* ============== */
.social-media {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 10px 0;
}

.social-media ul {
  display: flex;
  gap: 10px;
}

.social-media li {
  list-style: none;
}

.social-media img {
  width: 20px;
}
