* {
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

body {
  color: #1f1f1f;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
a {
  margin: 0;
  padding: 0;
  color: #1f1f1f;
  font-family: "Bitter", serif;
}
