/* globals */
/* ========== */
.btn {
  background-color: #1f1f1f;
  color: #fff;
  padding: 5px 25px;
  border: none;
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.94;
}

/* navbar */
/* =========== */
.navbar {
  width: min(90%, 700px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navbar h1 {
  font-size: clamp(1.3rem, 2.5vw, 1.7rem);
  margin: 15px 0;
}

.nav-items {
  display: flex;
  align-items: baseline;
  gap: 25px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 1.1rem;
}

/* socialMedia links */
/* ============== */
.social-media {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 3px 0;
}

.social-media ul {
  display: flex;
  gap: 10px;
}

.social-media li {
  list-style: none;
}

.social-media img {
  width: 20px;
}

.social-media img:hover {
  opacity: 0.8;
}

/* Main */
/* ============= */
main {
  width: min(90%, 700px);
  margin: 0 auto;
}

/* blogs */
/* =========== */
.blogs-title {
  margin: 1.4rem 0 0.5rem 0;
}

.blogs-container h2 {
  text-align: center;
  background-color: #fff;
  width: 100px;
  margin: 0 auto;
  margin-top: -23px;
  z-index: 100;
}
.blogs-container hr {
  z-index: 1;
}

/* tags container */
/* =============== */

.tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

/* blog */
/* ============ */
.blog {
  border: 0.5px solid #1f1f1f;
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 1.3rem;
  box-shadow: 1px 1px 0px #1f1f1f;
  transition: ease-in-out 0.1s;
}

.blog:hover {
  box-shadow: 6px 5px 0px #1f1f1f;
}

.blog-title {
  /* font-style: italic; */
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.blog-date {
  font-size: 14px;
}

.tags {
  display: flex;
  gap: 5px;
  margin-top: 5px;
  flex-wrap: wrap;
}
.tag {
  list-style: none;
  background-color: #ccc;
  padding: 2px 7px;
  font-style: italic;
  cursor: pointer;
  transition: ease-in-out 0.1s;
}
.tag:hover {
  box-shadow: 2px 2px 0px #1f1f1f;
  background-color: #ddd;
}
